.Container{
    min-height: 100vh;
    background-color: rgb(2, 19, 13);
    display: flex;
}

.country-List{
    border: 2px solid grey;
    border-radius: 5px;
    padding: 8px;
    background-color: rgb(8, 77, 55);
    color: rgb(255, 235, 211);
    font-weight: 200;
    letter-spacing: 1px;
    font-family: cursive;
}

.flag-Container{
    position: fixed;
    inset: 0px 0px 0px 300px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid grey;
}

.country-List:hover{
    background-color: rgb(46, 27, 4);
    cursor: pointer;
}

.flag-name{
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: 500;
    font-family: cursive;
    margin-top: 10px;
    
}

.list-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(2, 24, 17);
    padding: 8px;
    overflow-y: scroll;
    height: 77vh;
    border-radius: 10px;
    border: 2px solid grey;
}

.list-container::-webkit-scrollbar{
    display: none;
}


.country-container{
    display: flex;
    flex-direction: column;
    flex: 0.2;
    min-height: 100%;
    align-items: center;
    background-color: rgb(4, 51, 37);
    padding: 0px 10px 0px 10px;
    border-right: 2px solid grey;
}

.image-Container{
    display: flex;
    flex: 0.8;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    height: 4vh;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-family: Copperplate;
    letter-spacing: 5px;
    font-weight: bolder;
    font-size: 30px;
}

.desc{
    color: white;
    font-family: cursive;
    font-weight: 800;
    font-size: 15px;
}

.close-btn{
    position: absolute;
    align-self: flex-end;
    margin-bottom: 85vh;
    margin-right: 15px;
    padding: 0px 8px 0px 8px;
    border-radius: 25px;
    opacity: 0.5;
    border: none;
    background-color:transparent;
    font-family: cursive;
    font-weight: bold;
    color:white;
    font-size: medium;
}

.close-btn:hover{
    color: red;
    cursor: pointer;
}

.m-Name{
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: bolder;
    font-family: Copperplate;
    letter-spacing: 5px;
}

.m-desc{
    font-size: 18px;
}

